@page "/contador"
@inject ILogger<Counter> logger

<PageTitle>Contador</PageTitle>

<TitleSection Text="Contador"/>

<h1>Contador</h1>

@if (currentCount<5)
{
    <p role="status">Contador actual: @currentCount</p>
}
else
{
    <p role="status" style="color:red;">Contador actual: @currentCount</p>
}


<button class="btn btn-primary" @onclick="IncrementCount">Click </button>

@code {
    [SupplyParameterFromQuery]
    [Parameter]
    public int? InitialCount { get; set; } 

    private int currentCount = 0;

    protected override void OnInitialized()
    {
        currentCount = InitialCount ?? 0;
    }

    private void IncrementCount()
    {
        currentCount++;
        logger.LogInformation($"Contador incrementado a {currentCount}");
    }
}
