@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Aprendiendo sobre <a href="https://www.isp20.edu.ar">contruir Web apps con ASP.NET Core en Instituto N°20</a>.</p>
    <p>San Justo - Santa Fe</p>
</div>
